# =========================
# VIRTUAL ENVIRONMENT
# =========================
venv/

# =========================
# ENVIRONMENT VARIABLES
# =========================
.env

# =========================
# PYTHON CACHE
# =========================
__pycache__/
*.pyc

# =========================
# VECTOR DATABASE
# =========================
chromadb/

# =========================
# LOGS
# =========================
logs/

# =========================
# MEMORY FILES
# =========================
memory/project_memory.json

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE FILES
# =========================
.vscode/
.idea/

# =========================
# TESTING CACHE
# =========================
.pytest_cache/